body {
    background-color: #A0A0A0;
    font-style: comic;
}

#box {
}


/*
Contenido del navegador
*/

nav#box {
    background-color: grey;
    display: flex;
    flex-direction: row;
    margin-bottom: 2%;
}


ul.nav-bar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 50%;
    display: flex;
    flex-direction: row;
}

li.nav-bar {
    border: 1px solid black;
    width: 100px;
    text-align: center;
}

/*
--------------------------
*/

/*
Contenido del divbox (main)
*/

.contentBox {
    display: flex;
    flex-direction: column;
}


@media (min-width:768px) {
   .contentBox{
    flex-direction: row;
   }
}

/*
Left Box 
*/

.searchBox{
    flex-basis: 80%;
}

.searchBox2{
    background-color: grey;
    margin-top: 2%;
    margin-left: 6%;
    margin-right: 6%;
    margin-bottom: 2%;
    height: 100px;
}


/*
Rigth Box
*/

.factionsBox{
    flex-basis: 80%;

}

.factionsBox2{
    background-color: grey;
    margin-top: 2%;
    margin-left: 6%;
    margin-right: 6%;
    margin-bottom: 2%;
    height: 100px;
}


/*
Footer
*/


footer {
    margin-top: 10px;
    background-color: grey;
    height: 50px;
}